<h1 class="text-center mb-4 mt-5">Filmek</h1>      
<h2 class="text-center mb-5 mt-5">Kiemelt termékek</h2>

<div class="all-product-container">
  <p *ngFor="let product of featuredFilmsList">
    <app-product-card [product]="product"></app-product-card>
  </p>
</div>

<hr>

<h2 class="text-center mb-5 mt-5">Összes termék</h2>
<app-search-bar></app-search-bar>

<div class="all-product-container">
  <p *ngFor="let product of filmList | filter:phraseString:'name'">
    <app-product-card [product]="product"></app-product-card>
  </p>
</div>