.featured-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.all-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100rem;
}
