@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.table {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

td {
  text-align: center; 
  vertical-align: middle;
}

th {
  cursor: pointer;
}

.pagination a {
  cursor: pointer;
}
.pagination li {
  user-select: none;
}

.new-product {
  border: 1px solid #333;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: beige;
}

.new-product span {
  margin-right: 1.5rem;
}
.new-product label {
  margin-left: .3rem;
}