<div class="container-fluid my-4">
  <div class="row">
    <div class="col-2 offset-8 my-3">
      <select [(ngModel)]="currentSelectProperty" class="form-control">
        <option *ngFor="let property of productProperties" [value]="property">{{ property }}</option>
      </select>
    </div>
    <div class="col-2 my-3">
      <input type="text" placeholder="Keresés" class="form-control" (keyup)="onChangePhrase($event)">
    </div>
    <div class="col-12 mb-1">
      <table class="table table-striped table-primary table-bordered table-hover table-sm text-center">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let col of cols" (click)=onClickHeader(col)>{{ col.text }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of productList$ | async | filter:phrase:currentSelectProperty | sorter:sorterColumn | slice:startHits:endHits">
            <td>
              <span>{{ product.id }}</span>
            </td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.catId"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.name"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.description"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.image"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.price"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.stock"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.featured" type="checkbox"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.discounted" type="checkbox"></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="product.active" type="checkbox"></td>
            <td>
              <div class="btn-group">
                <button (click)="onUpdateClicked(product)" class="btn btn-secondary">
                  <i class="fa fa-refresh"></i>
                </button>
                <button (click)="onDeleteClicked(product)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6 offset-3">
      <nav>
        <ul class="pagination justify-content-center">

          <li class="page-item disabled">
            <a class="page-link" aria-disabled="true" (click)="getPreviousPage($event)">Előző</a>
          </li>

          <span *ngFor="let page of getPageArray()">
            <li class="page-item" (click)="onPager($event, page)">
              <a class="page-link">{{ page }}</a>
            </li>
          </span>

          <li class="page-item" disabled="false">
            <a class="page-link" (click)="getNextPage($event)">Következő</a>
          </li>

        </ul>
      </nav>
    </div>

  </div>
</div>