<h1>Üdvözöljük!</h1>

<section>
    <h2 class="text-center mb-4">Kiemelt ajánlataink</h2>
    <div class="card-group mb-5">
        <div class="card border-dark mr-">
          <img src="..." class="card-img-top" alt="Kiemelt 1">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
            <a href="#" class="btn btn-primary">Vásárlás</a>            
          </div>
        </div>
        <div class="card border-dark mr-">
            <img src="..." class="card-img-top" alt="Kiemelt 2">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card border-dark mr-">
            <img src="..." class="card-img-top" alt="Kiemelt 3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card border-dark mr-">
            <img src="..." class="card-img-top" alt="Kiemelt 4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card border-dark mr-">
            <img src="..." class="card-img-top" alt="Kiemelt 5">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div>
      </div>

</section>
<section>
    <h2 class="text-center mb-4">Legjobb ajánlataink</h2>
    <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="Akciós 1">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
            <a href="#" class="btn btn-primary">Vásárlás</a>            
          </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="Akciós 2">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card">
            <img src="..." class="card-img-top" alt="Akciós 3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card">
            <img src="..." class="card-img-top" alt="Akciós 4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div><div class="card">
            <img src="..." class="card-img-top" alt="Akciós 5">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary mb-2">Trailer megtekintése</a>
              <a href="#" class="btn btn-primary">Vásárlás</a>            
            </div>
          </div>
      </div>

</section>