<h1>Üdvözöljük!</h1>

<!-- Összes termék -->
<!-- <div class="all-product-container">
  <app-product-card [product]="product" *ngFor="let product of productList"></app-product-card>
</div> -->


<!-- Egy termék a lista nulladik indexe -->
<!-- <app-product-card [product]="productList[0]"></app-product-card> -->

<div class="all-product-container">
  <app-product-card [product]="product" *ngFor="let product of productList"></app-product-card>
</div>
<app-product-card [product]="productList[0]"></app-product-card>

